@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

.content {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: black;
}

.blank-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid white; */
  z-index: 3;
}

.fa-gear {
  position: absolute;
  left: 6.5vw;
  top: 32vh;
  color: white;
  font-size: 3vw;
  cursor: pointer;
  z-index: 10;
}

.fa-gear:hover {
  cursor: pointer;
  transform: rotate(90deg);
  animation: rotatingGear 2s linear infinite;
}

@keyframes rotatingGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.settings-modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 1rem;
  width: 14vw;
  height: 35vh;
  left: 0.7vw;
  top: 40vh;
  background: rgb(0, 0, 0);
  border: 3px solid white;
  z-index: 10;
}

.reset-hiscore {
  position: relative;
  width: 90%;
  background: white;
  border: 3px solid red;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.confirm-reset-hiscore {
  position: absolute;
  top: 29vh;
  left: 21vw;
  width: 61vw;
  height: 46vh;
  background: rgb(0, 0, 0);
  display: none;
  z-index: 10;
}

.confirm {
  position: relative;
  top: 10vh;
  left: 20vw;
  color: white;
  font-family: "Press Start 2P", sans-serif;
}

.confirm-button {
  position: relative;
  width: 20%;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid red;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  top: 20vh;
  left: 20vw;
  z-index: 10;
}

.cancel-button {
  position: relative;
  width: 20%;
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid red;
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  top: 20vh;
  left: 15vw;
  z-index: 10;
}

.option-hover:hover {
  background: rgba(255, 255, 255, 1);
}

.slots-title {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  position: absolute;
  top: 7vh;
  left: 29vw;
  font-size: 4vw;
}

.credits {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 89vw;
  top: 30vh;
}

.highscore {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.1vw;
  color: white;
  left: 89vw;
  top: 45vh;
}
.new-highscore {
  display: flex;
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.1vw;
  color: rgb(255, 0, 0);
  left: 89vw;
  top: 55vh;
}

.highscore-animation {
  animation: 1.5s linear normal highscoreAnimation;
  animation-iteration-count: 1;
}

@keyframes highscoreAnimation {
  0% {
    opacity: 0.2;
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1.3rem);
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(2rem);
    opacity: 0;
  }
}

.highscore-balance {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 91vw;
  top: 50vh;
  z-index: 15;
}

.spins {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 70vw;
  top: 30vh;
}

.win {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 22vw;
  top: 70vh;
}

.bonusgame {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 44vw;
  top: 38vh;
}

.win-amount {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 28vw;
  top: 70vh;
}

.flashing {
  animation: flashing 1s ease-in-out infinite;
}

.box-flashing {
  animation: boxFlashing 1s ease-in-out infinite;
}

.bonus-flashing {
  animation: bonusFlashing 1s ease-in-out infinite;
}

@keyframes bonusFlashing {
  0% {
    text-shadow: 0px 0px 0px red;
  }
  15% {
    text-shadow: 0px 0px 30px red;
  }
  33% {
    text-shadow: 0px 0px 0px red;
  }
  51% {
    text-shadow: 0px 0px 30px red;
  }
  66% {
    text-shadow: 0px 0px 0px red;
  }
  81% {
    text-shadow: 0px 0px 30px red;
  }
  99% {
    text-shadow: 0px 0px 0px red;
  }
  100% {
    text-shadow: 0px 0px 30px red;
  }
}

@keyframes boxFlashing {
  0% {
    box-shadow: 0px 0px 0px red;
  }
  15% {
    box-shadow: 0px 0px 30px red;
  }
  33% {
    box-shadow: 0px 0px 0px red;
  }
  51% {
    box-shadow: 0px 0px 30px red;
  }
  66% {
    box-shadow: 0px 0px 0px red;
  }
  81% {
    box-shadow: 0px 0px 30px red;
  }
  99% {
    box-shadow: 0px 0px 0px red;
  }
  100% {
    box-shadow: 0px 0px 30px red;
  }
}

@keyframes flashing {
  0% {
    color: white;
  }
  15% {
    color: red;
  }
  33% {
    color: white;
  }
  51% {
    color: red;
  }
  66% {
    color: white;
  }
  81% {
    color: red;
  }
  99% {
    color: white;
  }
  100% {
    color: red;
  }
}

.add-credit {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 43vw;
  top: 70vh;
}

.player-funds {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 91vw;
  top: 35vh;
}
.game-balance {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 78vw;
  top: 30vh;
}

.slotmachine-bg {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.token-topup {
  position: absolute;
  top: 19vh;
  left: 25vw;
  padding: 0.5rem 0.5rem;
  font-size: 1.8vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 4px solid rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-30deg);
  color: rgba(255, 255, 255, 0.8);
  background: #000000;
  outline: none;
  z-index: 4;
  animation: flashing100 0.3s ease-in-out infinite;
}

@keyframes flashing100 {
  0% {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
  }
  100% {
    color: rgb(0, 0, 0);
    background: rgb(255, 224, 224);
    border: 4px solid rgb(0, 0, 0);
  }
}

.token-topup:hover {
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 1);
  border: 4px solid rgb(0, 0, 0);
  animation: none;
  box-shadow: 0px 0px 20px white;
}

.play-button {
  position: absolute;
  top: 78vh;
  left: 18vw;
  padding: 0.7rem 1rem;
  font-size: 2.2vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 7px solid black;
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-40deg);
  color: rgba(0, 0, 0, 0.8);
  background: #059405;
  outline: none;
  z-index: 4;
}

.play-button:hover {
  background: rgba(8, 248, 8, 1);
  color: rgba(0, 0, 0, 1);
}

.insert-button {
  position: absolute;
  top: 19vh;
  left: 75vw;
  padding: 0.5rem 0.75rem;
  font-size: 1.2vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 7px solid black;
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-30deg);
  color: rgba(0, 0, 0, 0.8);
  background: #4416dd;
  outline: none;
  z-index: 4;
}

.insert-button:hover {
  background: #542cd9;
  color: rgba(0, 0, 0, 1);
}

.collect-button {
  position: absolute;
  top: 79vh;
  left: 71vw;
  padding: 0.5rem 0.75rem;
  font-size: 1.2vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 7px solid black;
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-30deg);
  color: rgba(0, 0, 0, 0.8);
  background: #fa1f10;
  outline: none;
  z-index: 4;
}

.collect-button:hover {
  background: #f91808;
  color: rgba(0, 0, 0, 1);
}

.start-title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 49vh;
  left: 25vw;
}
.slots-outcome {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 5rem;
  height: 40vh;
  width: 61vw;
  z-index: 1;
  top: 33vh;
  left: 21vw;
}

.slot-1 {
  width: 8rem;
  z-index: 2;
  border-radius: 1rem;
}

.slot-2 {
  width: 8rem;
  z-index: 2;
  border-radius: 1rem;
}

.slot-3 {
  width: 8rem;
  z-index: 2;
  border-radius: 1rem;
}

.green {
  color: green;
}

.red {
  color: red;
}

.bonus-window {
  position: absolute;
  top: 29vh;
  left: 21vw;
  width: 61vw;
  height: 46vh;
  background: rgb(0, 0, 0);
  z-index: 10;
  /* border: 2px solid white; */
}

.bonus-win-title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 5vh;
  left: 20.5vw;
}

.bonus-win-subtitle {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 15vh;
  left: 2.5vw;
}

.check-prize {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 31.5vh;
  left: 2.5vw;
}

.question-mark {
  display: inline;
  position: absolute;
  left: 38.5vw;
  top: 28vh;
  font-size: 3vw;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: black;
}

.rotate {
  animation: rotate 1s linear infinite, opacityFade 2.8s linear 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacityFade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bonus-prize {
  display: inline-block;
  position: relative;
  left: 35vw;
  top: 29vh;
  font-size: 3vw;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  padding: 1rem;
  color: green;
}

.question-mark:hover {
  transition: none;
  box-shadow: 0px 0px 10px white;
}

.bonus-window2 {
  position: absolute;
  top: 29vh;
  left: 21vw;
  width: 61vw;
  height: 46vh;
  background: rgb(0, 0, 0);
  z-index: 10;
  /* border: 2px solid white; */
}

.jackpot-win-value {
  display: inline-block;
  position: absolute;
  left: 50vw;
  top: 2vh;
  font-size: 3vw;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  padding: 1rem;
  color: green;
}

.jackpot-win-value2 {
  display: inline-block;
  position: absolute;
  left: 50vw;
  top: 2vh;
  font-size: 3vw;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  padding: 1rem;
  color: green;
}

.round1 {
  display: inline-block;
  position: absolute;
  left: 22vw;
  top: 5vh;
  font-size: 2rem;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.take-winnings {
  display: inline-block;
  position: absolute;
  left: 10vw;
  top: 15vh;
  font-size: 1.5rem;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.or-gamble {
  display: inline-block;
  position: absolute;
  left: 10vw;
  top: 23vh;
  font-size: 1.5rem;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.take-win {
  position: absolute;
  padding: 0.75rem 1.5rem;
  top: 40vh;
  left: 15vw;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1rem;
  color: white;
  background: black;
  border: 2px solid white;
  cursor: pointer;
}

.take-win:hover {
  color: black;
  background: white;
}

.lets-gamble {
  position: absolute;
  padding: 0.75rem 1.5rem;
  top: 40vh;
  left: 35vw;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1rem;
  color: white;
  background: black;
  border: 2px solid white;
  cursor: pointer;
}

.lets-gamble:hover {
  color: black;
  background: white;
}

.blackout {
  position: absolute;
  top: 29vh;
  left: 21vw;
  width: 61vw;
  height: 46vh;
  background: rgb(0, 0, 0);
  z-index: 10;
}

.loading {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  position: absolute;
  top: 20vh;
  left: 20.5vw;
  font-size: 2vw;
}

.game-round1 {
  position: absolute;
  top: 29vh;
  left: 21vw;
  width: 61vw;
  height: 46vh;
  background: rgb(0, 0, 0);
  z-index: 100;
  /* border: 2px solid red; */
}

.choose-wisely {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  position: absolute;
  top: 10vh;
  left: 20.5vw;
  font-size: 1.5vw;
}

.question-mark2 {
  display: inline;
  position: absolute;
  left: 26vw;
  top: 28vh;
  font-size: 3vw;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: black;
}

.question-mark3 {
  display: inline;
  position: absolute;
  left: 15vw;
  top: 28vh;
  font-size: 3vw;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: black;
}

.question-mark4 {
  display: inline;
  position: absolute;
  left: 37vw;
  top: 28vh;
  font-size: 3vw;
  font-family: "Press Start 2P", sans-serif;
  transition: all 1s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background: black;
}

.redX1 {
  color: red;
  display: inline;
  position: absolute;
  left: 15.5vw;
  top: 29.5vh;
  font-size: 4vw;
  font-family: "Press Start 2P", sans-serif;
}

.redX2 {
  color: red;
  display: inline;
  position: absolute;
  left: 26.5vw;
  top: 29.5vh;
  font-size: 4vw;
  font-family: "Press Start 2P", sans-serif;
}

.redX3 {
  color: red;
  display: inline;
  position: absolute;
  left: 37.5vw;
  top: 29.5vh;
  font-size: 4vw;
  font-family: "Press Start 2P", sans-serif;
}

.line1Win {
  color: green;
  display: inline;
  position: absolute;
  left: 10vw;
  top: 30vh;
  font-size: 2vw;
  font-family: "Press Start 2P", sans-serif;
}

.line2Win {
  color: green;
  display: inline;
  position: absolute;
  left: 23vw;
  top: 30vh;
  font-size: 2vw;
  font-family: "Press Start 2P", sans-serif;
}

.line3Win {
  color: green;
  display: inline;
  position: absolute;
  left: 33vw;
  top: 30vh;
  font-size: 2vw;
  font-family: "Press Start 2P", sans-serif;
}
