@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.content {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: black;
}

.blank-div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* border: 2px solid white; */
  z-index: 3;
}

.slots-title {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  position: absolute;
  top: 7vh;
  left: 29vw;
  font-size: 4vw;
}

.credits {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 89vw;
  top: 30vh;
}

.highscore {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.1vw;
  color: white;
  left: 89vw;
  top: 45vh;
}
.new-highscore {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.1vw;
  color: rgb(255, 0, 0);
  left: 89vw;
  top: 55vh;
  animation: highscoreAnimation 1.6s ease-in-out;
}

@keyframes highscoreAnimation {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1rem);
    opacity: 1;
  }
  100% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

.highscore-balance {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 91vw;
  top: 50vh;
  z-index: 5;
}

.spins {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 70vw;
  top: 30vh;
}
.win {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 22vw;
  top: 70vh;
}

.win-amount {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 28vw;
  top: 70vh;
}

.flashing {
  animation: flashing 1s ease-in-out;
}

.box-flashing {
  animation: boxFlashing 1s ease-in-out;
}

@keyframes boxFlashing {
  0% {
    box-shadow: 0px 0px 0px red;
  }
  15% {
    box-shadow: 0px 0px 30px red;
  }
  33% {
    box-shadow: 0px 0px 0px red;
  }
  51% {
    box-shadow: 0px 0px 30px red;
  }
  66% {
    box-shadow: 0px 0px 0px red;
  }
  81% {
    box-shadow: 0px 0px 30px red;
  }
  99% {
    box-shadow: 0px 0px 0px red;
  }
  100% {
    box-shadow: 0px 0px 30px red;
  }
}

@keyframes flashing {
  0% {
    color: white;
  }
  15% {
    color: red;
  }
  33% {
    color: white;
  }
  51% {
    color: red;
  }
  66% {
    color: white;
  }
  81% {
    color: red;
  }
  99% {
    color: white;
  }
  100% {
    color: red;
  }
}

.add-credit {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 43vw;
  top: 70vh;
}

.player-funds {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 91vw;
  top: 35vh;
}
.game-balance {
  position: absolute;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.3vw;
  color: white;
  left: 78vw;
  top: 30vh;
}

.slotmachine-bg {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.token-topup {
  position: absolute;
  top: 19vh;
  left: 25vw;
  padding: 0.5rem 0.5rem;
  font-size: 1.8vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 4px solid rgb(255, 255, 255);
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-30deg);
  color: rgba(255, 255, 255, 0.8);
  background: #000000;
  outline: none;
  z-index: 4;
  animation: flashing 0.3s ease-in-out infinite;
}

@keyframes flashing {
  0% {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border: 4px solid rgb(255, 255, 255);
  }
  100% {
    color: rgb(0, 0, 0);
    background: rgb(255, 224, 224);
    border: 4px solid rgb(0, 0, 0);
  }
}

.token-topup:hover {
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 1);
  border: 4px solid rgb(0, 0, 0);
  animation: none;
  box-shadow: 0px 0px 20px white;
}

.play-button {
  position: absolute;
  top: 78vh;
  left: 18vw;
  padding: 0.7rem 1rem;
  font-size: 2.2vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 7px solid black;
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-40deg);
  color: rgba(0, 0, 0, 0.8);
  background: #059405;
  outline: none;
  z-index: 4;
}

.play-button:hover {
  background: rgba(8, 248, 8, 1);
  color: rgba(0, 0, 0, 1);
}

.insert-button {
  position: absolute;
  top: 19vh;
  left: 75vw;
  padding: 0.5rem 0.75rem;
  font-size: 1.2vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 7px solid black;
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-30deg);
  color: rgba(0, 0, 0, 0.8);
  background: #4416dd;
  outline: none;
  z-index: 4;
}

.insert-button:hover {
  background: #542cd9;
  color: rgba(0, 0, 0, 1);
}

.collect-button {
  position: absolute;
  top: 79vh;
  left: 71vw;
  padding: 0.5rem 0.75rem;
  font-size: 1.2vw;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 600;
  border: 7px solid black;
  text-transform: uppercase;
  cursor: pointer;
  transform: skewX(-30deg);
  color: rgba(0, 0, 0, 0.8);
  background: #fa1f10;
  outline: none;
  z-index: 4;
}

.collect-button:hover {
  background: #f91808;
  color: rgba(0, 0, 0, 1);
}

.start-title {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2vw;
  color: white;
  position: absolute;
  top: 49vh;
  left: 25vw;
}
.slots-outcome {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 5rem;
  height: 40vh;
  width: 61vw;
  z-index: 1;
  top: 33vh;
  left: 21vw;
}

.slot-1 {
  width: 8rem;
  z-index: 2;
  border-radius: 1rem;
}

.slot-2 {
  width: 8rem;
  z-index: 2;
  border-radius: 1rem;
}

.slot-3 {
  width: 8rem;
  z-index: 2;
  border-radius: 1rem;
}
